@import '_variables.scss';
@import './components/BreadCrumb';
@import './components/Meta';
@import './components/Post';
@import 'index.scss';
@import 'reset.css';
@import 'highlight.js/styles/github.css';

a {
  color: #2b2c30;
  text-decoration: none;
}

input,
select,
button {
  &:focus {
    outline: none;
  }
}
